{% extends 'Base/base.html' %}
{% load staticfiles %}
{%block div%}
<form action="#" method="post" id="formulario1" novalidate="novalidate">
                            <table class="table table-hover">
                                <tr>
                                    <td> <label for="txtNombre">Nombre</label> </td>
                                    <td> <input type="text" name="txtNombre" 
                                   id="txtNombre" placeholder="Ingrese nombre" onkeypress="return validaLetras(event)" ></td>
                                </tr>
                                <tr>
                                        <td> <label for="rut">Rut</label> </td>
                                        <td> <input type="text" id="rut" name="rut" onkeypress="return isNumber(event)" 
                                        placeholder="Ingrese RUT" > 
                                       </td>
                                    </tr>
                                <tr>
                                    <td> <label for="txtEmail">Email</label> </td>
                                    <td> <input type="email" name="txtEmail" 
                                        id="txtEmail" placeholder="Ingrese Correo"  > </td>
                                </tr>
                                
                                <tr>
                                        <td><label for="start">Fecha de Nacimiento</label></td>
                                        <td>  <input type="date" id="start" name="start" max="2001-12-31">
                                             </td>
                                </tr>
                                <tr> 
                                        <td> <label for="txtTelefono">Telefono De contacto</label> </td>
                                        <td> <input type="text" name="txtTelefono" 
                                            id="txtTelefono" placeholder="ejemplo: 954325674" onkeypress="return isNumber(event)" >  </td>
                                </tr>
                                <tr> 
                                        <td> <label for="regiones">Regiones</label> </td>
                                    <td><select id="regiones"><option value="sin-region">
                                    Seleccione región</option>
                                </select> </td>
                                </tr> 
                                <tr> 
                                        <td> <label for="comunas">Comuna</label> </td>
                                        <td><select id="comunas">
                                        <option value="sin-comuna" >Seleccione comuna</option>
                                         </select>
                                        </td>
                                </tr>

                                <tr> 
                                        <td> <label for="txtServicio">Tipo de Servicio</label> </td>
                                        <td><select id="txtServicio">
                                        <option value="sin-servicio">Seleccione Servicio</option>
                                         <option value="sin-Servicio">--</option>
                                         <option value="Estandar">Estandar</option>
                                         <option value="Premium">Premium</option>
                                         <option value="TaxMaster">TaxMaster</option>
                                        </select>
                                         </td>
                                        
                                </tr>
                               
                                
                                
                            </table>
                            <br>
                            <button type="submit">Enviar</button>
                        </form>


{%endblock div%}
