{% extends 'Base/base.html' %}

{% block div %}
<table class="table">
        <thead class="thead-dark">
            <tr>
                
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>FECHA NACIMIENTO</th>
                <th>TELEFONO</th>
                <th>REGION</th>
                <th>COMUNA</th>
                <th>USER</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{c.rut}}</td>
                <td>{{ c.nombre}}</td>
                <td>{{c.email}}</td>
                <td>{{c.fecha_nacimiento}}</td>
                <td>{{c.telefono}}</td>
                <td>{{c.region}}</td>  
                <td>{{c.comuna}}</td>
                <td>{{c.user}}</td>
                <td><button class="btn btn-warning"><a href="/editar_cliente/{{ c.rut }}" >EDITAR</a></button></td>
                <td><button  onclick="return confirm('Se eliminara un cliente Seguro que desea continuar?')" class="btn btn-danger " class="alert alert-danger" role="alert"><a href="borrar_cliente/{{ c.rut }}" >Eliminar</a></button> </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
       
    </table>
   
{% endblock div %}
