{% extends 'Base/base.html' %}
{% load staticfiles %}

{% block title %}
Principal
{% endblock title %}
{% block div %}
{% if user.is_superuser %}
<h1>--BIENVENIDO ADMINISTRADOR--</h1>
{% else %}
<div style=" height: 100%" class="col-md-7">
                <h2 class="featurette-heading">Tax Max.</h2>
                <br>
                <p class="lead">Tax Max SpA, 
                    es una empresa conformada por un equipo de profesionales que 
                    ofrecemos servicios Contables, Tributarios, Laborales, Financieros, 
                    Auditorias y todo el asesoramiento necesario para su empresa o negocio, 
                    al mejor precio y con una alta calidad. Nuestra misión es brindar un servicio 
                    profesional de alta calidad para la toma de decisiones, a un precio adecuado 
                    para sus necesidades, con el fin de que cualquier empresa, pueda disponer del 
                    apoyo necesario para optimizar su negocio. Asesoramos sus proyectos de inversión, 
                    prestamos bancarios y demás. El asesoramiento será constante y de ser necesario 
                    vía on-line, para que no tenga que desplazarse y pueda hacer todas las gestiones y consultas desde su empresa.</p>
            </div>
            <div id="img">
                <img  id="imgTamaño" src="{% static 'img/nuestro_1.png'%}" alt="nuestro_1" >
                <!-- class="col-md-5" -->
                <!-- class="featurette-image img-responsive" -->
                <!-- alt="Generic placeholder image" -->
            </div>
             
        </div>
            
        

        <div style="padding:100px;"  class="row featurette">
         <hr class="featurette-divider">
         <br>
        
            <div class="col-md-5"> 
                <img id="imgTamaño" src="{% static 'img/nuestro_2.jpg'%}" alt="imgane">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Nuestro Pensar</h2>
                <br>
                <div  class="lead" style="background-color:white;  white-space: normal;">
                    <p>Nos enorgullecemos de comprender los problemas y 
                    oportunidades de la consultoría. Nuestra empresa está 
                            comprometida a lograr la excelencia y esto es notorio en todos
                             nuestros servicios. Nuestros clientes son nuestra mejor posesión y
                              estamos dedicados a servir sus necesidades.</p>
                    
                    
                </div>
            </div>
{% endif %}

{% endblock div %}


