{% extends 'Base/base.html' %} {% block div %}


<div class="container marketing">
  <hr class="featurette-divider" />

  <div id="servicio" class="row featurette">
    <div>
      <h2 class="featurette-heading">Nuestros Servicios</h2>
      <br />
      <div id="Contable" class="col-md-5">
        <h3 id="tex">
          Asesoría Contable: <br />
          <br />
          °Teneduría de libros <br />
          °Informes financieros y reportes a <br />
          solicitud de la empresa para toma de decisiones. <br />
          °Presentación y exposición de los <br />
          estados financieros y de resultados. <br />
          °Evaluación de la situación económica y <br />
          financiera de la empresa a través de indicadores financieros. <br />
          °Asesoría en inversiones y créditos financieros, así como <br />
          la preparación de expedientes para su obtención. <br />
        </h3>
      </div>

      <div id="Financiera" class="col-md-5">
        <h3 id="tex1">
          Asesoría Financiera: <br />
          <br />
          °Confección de Estados Financieros: <br />
          Balance General, Estado de Resultados, <br />
          Estado de flujo de efecivo, Flujo de Caja y <br />
          Notas de interpretación Financiera. <br />
          °Les proporcionamos orientación y posibles <br />
          alternativas para estar mejor preparados <br />
          ante cualquier cambio en el mercado. <br />
        </h3>
      </div>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div style="width: 100%; height: auto; display: flex;">
    <div style="width: 30%; height: 350px;" id="estandar">
      <h2 class="featurette-heading">Plan Estándar</h2>


      <div style="height: 100%; width: 100%; padding: 10px;">
        <div
          class="lead"
          style="background-color:lightgray;  white-space: normal; width: 100%; height: auto;"
        >
          <p>
            Este plan ofrece los servicios básicos a la hora de asesorarte en
            tus problemas de Contabilidad
          </p>
        </div>
<br>
<br>
<br>
        <button
          id="butonest"
          class="btn btn-primary"
          onclick="window.location.href={% url 'gestion:Contacto' %}"
        >
          Seleccionar Plan
        </button>
        <br />
      </div>
    </div>
    <!-- biennnnnnnnnnnn -->

    <div style="width: 30%; height: 350px;"  id="premium">
      <h2 class="featurette-heading">Plan Premuim</h2>
      <br />

      <div style="height: 100%; width: 100%; padding: 10px;">
        <div
          class="lead"
          style="background-color:rgb(81, 121, 173);   white-space: normal; width: 100%;"
        >
          <p>
            Este plan te ofrece los servicios básicos además de otras prestaciones que llevaran tu experiencia a un nivel mucho mas alto


          </p>
        </div>

        <button
          id="butonest"
          class="btn btn-primary"
          onclick="window.location.href={% url 'gestion:Contacto' %}"
        >
          Seleccionar Plan
        </button>
  
        <br />
      </div>
    </div>

    <!-- asdasdasdasdgggggggggggggggggggggggggggggggggggggggggggggggggggg -->

    <div style="width: 30%; height: 100%"  id="taxmas">
      <h2 class="featurette-heading">Tax Master</h2>
     

      <div style="height: 100%; width: 100%; padding: 10px;">
        <div
          class="lead"
          style="background-color:orange;  white-space: normal; width: 100%; height: 197px;"
        >
          <p>
            Este plan ofrece los servicios de los demas planes además de
            asistencia personalizada 24/7 y un curso de financiamiento para así
            obtener una experiencia Tax Max única.
          </p>
        </div>

        <button
          id="butonest"
          class="btn btn-primary"
          onclick="window.location.href={% url 'gestion:Contacto' %}'"
        >
          Seleccionar Plan
        </button>
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock div %}
